body {
  background-color: #000;
  color: #fff;
}

.red {
  background-color: red;
}

.nav-link {
  color: #fff;
}

.nav-item .nav-link.active {
  background-color: #fff;
  color: #000;
}

.executives, .company-info {
  list-style: none;
  padding: 0;
}

.spaceship {
  background-image: url(./spaceship.svg);
  background-repeat:no-repeat;
  background-size: contain;
}

.next-launches {
  color: #fff;
}

.site-name {
  min-width: 300px;
}
